.title-page {
    font-size: 2rem;
    font-weight: 600;
    padding-right: 70px;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    width: 80%;
    margin: 20px auto;
    display: block;
}

.manage-category-page {
    padding: 20px;
}

.category-table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

.category-table th,
.category-table td {
    border: 1px solid #ddd;
    padding: 10px 15px;
    text-align: center;
}

.category-table th {
    background-color: #007bff;
    color: white;
    font-weight: 600;
}

.category-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.category-table tr:hover {
    background-color: #e6f0ff;
    transition: 0.2s;
}

.action-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.edit-btn,
.delete-btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

/* Nút sửa */
.edit-btn {
    background-color: #007bff;
    color: white;
}

.edit-btn:hover {
    background-color: #0064d6;
}

/* Nút xóa */
.delete-btn {
    background-color: #dc3545;
    color: white;
}

.delete-btn:hover {
    background-color: #b52a37;
}

/* Lưu */
.save-btn {
    background: #28a745;
    color: white;
}

.save-btn:hover {
    background: #218838;
}

/* Hủy */
.cancel-btn {
    background: gray;
    color: white;
}

.cancel-btn:hover {
    background: #5a5a5a;
}

/* Ô input khi sửa */
.edit-input {
    width: 90%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.add-category {
    display: flex;
    flex-direction: column; /* Đưa label và input xuống dòng */
    margin-bottom: 16px;
    max-width: 300px;
}

.add-category label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 16px;
}

.add-category input {
    padding: 12px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-category-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ddd;
    max-width: 20%;
    margin: 10px auto;
}

.button {
    width: 200px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s;
    margin: 20px;
}

.button:hover {
    background-color: #0056b3;
}

