.admin-product-card {
    position: relative;
    width: 230px;
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 20px;
}

.admin-product-card:hover {
    transform: translateY(-4px);
}

.product-img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: bold;
}

.product-name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    height: 40px;
}

.price-box {
    margin-top: 6px;
}

.final-price {
    color: orangered;
    font-size: 18px;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #777;
    margin-left: 5px;
}

.sold {
    display: block;
    margin-top: 5px;
    color: #666;
    font-size: 13px;
}
